
#hamburglar{
	position: fixed;
    width: 100px;
    height:100px;
    cursor: pointer;
    right: -30px;
    top: -15px;

}




#hamburglar span{
	position: absolute;
	display: block;
	width:25px;
	height:3px;
	background-color: orange;
	/*transform-origin: center;*/
	left: 37.5px;
}

#hamburglar span:nth-child(1){
	top:59.5px;
}


#hamburglar span:nth-child(2){
	top:42.5px;
}

#hamburglar span:nth-child(3){
	top:51.3px;
}


#hamburglar-head{
	display:none;
}

#move{
	width:24px;
	transform-origin: right;
}